scrapy
pandas
geopandas
openpyxl
jsonlines
apache-beam[gcp]
google-cloud-bigquery
google-cloud-storage
PyPDF2
pymupdf
Pillow
send2trash
camelot-py
tabula-py
pdfplumber
python-dotenv
pyshp
py-markdown-table
dotenv
pyogrio