scrapy
pandas
geopandas
openpyxl
jsonlines
wheel
# apache-beam[gcp]
google-cloud-bigquery
google-cloud-storage
google-api-python-client
google-auth-httplib2 
google-auth-oauthlib
gspread
pypdf # TODO: remove this
pymupdf
Pillow
send2trash
camelot-py
tabula-py
pdfplumber
python-dotenv
pyshp
pytablewriter
dotenv
pyogrio
furl